.dark-edition .main-panel .modal-dialog .modal-content,
.light-edition .main-panel .modal-dialog .modal-content {
  border: 0.1rem solid var(--modal-border-text);
  background-color: var(--bg-secondary);

  .close:not(:disabled):not(.disabled) {
    cursor: var(--cursor-pointer);
  }

  .modal-non-nft-content a {
    color: var(--primary-color);
    font-weight: 400;

    &:hover,
    &:active {
      color: var(--primary-hover-dark);
    }
  }

  .modal-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    color: var(--modal-text);
    border-bottom: 0.1rem solid var(--modal-border-text);
    background-color: var(--bg-primary);

    h5.modal-title {
      font-family: "Baloo 2", sans-serif;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.48px;
    }

    .infoHover{
      margin: 0 1rem 0 auto;
      padding: 0;
      background: none;
      box-shadow: none;

    }

    //icon close
    .close {
      color: var(--modal-text);
      opacity: 1;
      text-shadow: none;
      margin: -1rem;

      &:focus {
        outline: none;
      }

      span {
        font-size: 2rem;
      }
    }
  }

  .modal-body {
    padding: 1rem 2rem;
    color: var(--modal-border-text);
    font-size: 1.3rem;

    .container {
      border-radius: 0.4rem;
      background-color: var(--bg-primary);
      margin-bottom: 1rem;
    }

    label{
      width: max-content;
    }

    select {
      background-color: transparent;
      height: auto;
      border: 0.1rem solid $modal-border;
      border-radius: 0.8rem;
      font-size: 1.3rem;
      color: var(--modal-text);
      padding: 1rem;

      background-image: linear-gradient(
          45deg,
          transparent 50%,
          var(--primary-color) 60%
        ),
        linear-gradient(135deg, var(--primary-color) 40%, transparent 50%) !important;
      background-position: calc(100% - 28px) 16px, calc(100% - 22px) 16px,
        100% 0;
      background-size: 6px 6px, 6px 6px;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:hover {
        cursor: var(--cursor-pointer);
      }

      optgroup {
        background-color: var(--bg-secondary);
        color: #a3abb2;
      }

      option {
        background-color: var(--bg-secondary);
        color: var(--text-primary);
      }
    }

    .col {
      padding: 0;
    }

    &.modal-non-nft-content button {
      min-width: 10rem;
      padding: 0.8rem 0.5rem;
      font-size: 1.2rem;
      border: 0.1rem solid var(--primary-color);
      border-radius: 30px;
      background-color: transparent;
      color: var(--primary-color);
      box-shadow: none;

      &:hover {
        border: 0.1rem solid var(--primary-hover-dark);
        color: var(--primary-hover-dark);
        cursor: var(--cursor-pointer) !important;
      }
    }

    form .form-group.img-selector {
      display: flex;
      flex-direction: column;

      div.img-side {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          height: max-content;
          margin-left: 1.5rem;
        }
      }

      label {
        width: max-content;
        color: var(--modal-text);
        padding: 1rem;
        border: 0.1rem solid var(--modal-text);
        border-radius: 0.8rem;
      }

      p {
        margin: 0.5rem;
      }
    }

    #rewardPerDay {
      display: flex;
      justify-content: space-around;

      button {
        margin-left: 1rem;
      }
    }

    #farmSocialMediaAdd {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        margin: 0;
        margin-left: 1rem;
      }
    }

    .farmSocialMediaGroup {
      display: flex;
      justify-content: space-between;
    }

    .socialMediaName[disabled="disabled"] {
      opacity: 0.6;
    }

    .customLinkDiv{
      display: flex;
      justify-content: space-between;

      input{
        width: 49%;

      }
    }

    .range-wrap {
      position: relative;
      margin: 1rem auto 3rem;

      input {
        cursor: var(--cursor-pointer) !important;
      }
    }
    .range {
      width: 100%;
      background-color: transparent;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: var(--bg-primary);
        border-radius: 10px;
        border: 0px solid #000000;
      }
      &::-webkit-slider-thumb {
        box-shadow: 1px 1px 0px #000000;
        border: 0px solid #000000;
        height: 32px;
        width: 12px;
        border-radius: 8px;
        background: var(--primary-color);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -14px;
      }
      &:focus::-webkit-slider-runnable-track {
        background: var(--bg-primary);
      }
      &::-moz-range-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: var(--bg-primary);
        border-radius: 10px;
        border: 0px solid #000000;
      }
      &::-moz-range-thumb {
        box-shadow: 1px 1px 0px #000000;
        border: 0px solid #000000;
        height: 32px;
        width: 12px;
        border-radius: 8px;
        background: var(--primary-color);
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: var(--bg-primary);
        border: 0px solid #000000;
        border-radius: 20px;
        box-shadow: 0px 0px 0px #000000;
      }
      &::-ms-fill-upper {
        background: var(--bg-primary);
        border: 0px solid #000000;
        border-radius: 20px;
        box-shadow: 0px 0px 0px #000000;
      }
      &::-ms-thumb {
        margin-top: 1px;
        box-shadow: 1px 1px 0px #000000;
        border: 0px solid #000000;
        height: 32px;
        width: 12px;
        border-radius: 8px;
        background: var(--primary-color);
        cursor: pointer;
      }
      &:focus::-ms-fill-lower {
        background: var(--bg-primary);
      }
      &:focus::-ms-fill-upper {
        background: var(--bg-primary);
      }
    }

    .bubble {
      background: var(--primary-color);
      color: white;
      padding: 4px 12px;
      position: absolute;
      border-radius: 4px;
      left: 50%;
      top: 3rem;
      transform: translateX(-50%);

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 2px;
        background: var(--primary-color);
        left: 50%;
      }
    }

    form .form-group label {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 0.32px;
      color: var(--modal-text);

      &:hover {
        cursor: var(--cursor-pointer);
      }

      span {
        &.required {
          color: var(--primary-color);
          margin-left: 0.3rem;
        }

        &.material-icons-round {
          font-size: 2.2rem;
          color: var(--modal-border-text);
          margin-left: 0.5rem;

          &:hover {
            color: var(--primary-color);
            cursor: var(--cursor-pointer);
          }
        }
      }
    }

    form .form-group input,
    .col-3 input {
      background-color: transparent !important;
      background-image: none;
      border: 0.1rem solid var(--modal-border-text);
      border-radius: 0.8rem;
      padding: 1rem;
      font-size: 1.3rem;
      color: var(--modal-text);
      transition: all 0.3s;

      &::placeholder {
        font-size: 1.3rem;
        color: var(--modal-border-text);
      }

      &:focus {
        border: 0.1rem solid var(--primary-color);
      }
    }

    .col-3 input {
      padding: 0.5rem 1rem;
    }

    form .form-group textarea {
      height: auto;
      background-color: transparent;
      background-image: none;
      border: 0.1rem solid var(--modal-border-text);
      border-radius: 0.8rem;
      padding: 1rem;
      font-size: 1.3rem;
      color: var(--modal-text);
      transition: all 0.3s;

      &::placeholder {
        font-size: 1.3rem;
        color: var(--modal-border-text);
      }

      &:focus {
        border: 0.1rem solid var(--primary-color);
      }
    }

    form fieldset {
      margin-top: 2.5rem;
      legend {
        color: $grey-primary;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 1rem;
        font-weight: 700;
      }

      .form-row {
        margin: 0;
      }

      .form-group {
        input,
        select {
          height: auto;
          margin-bottom: 1rem;
        }
      }
    }

    #farmSelectNftButton{
      display:flex;
      align-items: center;
    }
  }

  
  .helperHeader{
    display:flex;
    align-items: center;
    justify-content: center;

    margin: 0 2rem !important;

    p{
      margin:0;
      font-weight: 600;
    }
  }

  #feeCollection{
    h3{
      font-family: Baloo 2;
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.56;   
      color: var(--primary-color);

    }
  }

  .farm-builder-checkbox {
    display: flex;
    align-items: flex-start;

    input {
      margin-top: 0.2rem;
      margin-right: 1rem;

      cursor: var(--cursor-pointer);
    }

    label {
      font-family: "Roboto Mono";
      font-size: 1.3rem;
      line-height: 1.56;    

      cursor: var(--cursor-pointer);

      span{
        
        font-weight: 500;
        color: var(--primary-color);
      }
    }
  }

  .modal-footer {
    background-color: var(--bg-primary);
    border-top: 0.1rem solid var(--modal-border-text);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    line-height: 1.3;

    .disabled{
      opacity: 0.65;
      cursor: var(--cursor-default);
    }

    & > :not(:first-child) {
      margin-left: 0;
    }

    .footer-description {
      margin: 0 0 1rem 0;
    }

    .buttons-container {
      width: 100%;
      display: flex;
    }

    div {
      font-size: 1.4rem;
      color: var(--modal-border-text);
    }

    .btn {
      box-shadow: none;
      font-size: 1.4rem;
      flex: 1;
      border-radius: 0.8rem;
      margin: 0;
    }

    .btn.btn-secondary {
      flex: 1;
      background-color: transparent;
      border: 0.1rem solid var(--modal-border-text);
      color: var(--modal-border-text);
      margin-right: 2rem;

      &:hover,
      &:active {
        background-color: var(--bg-secondary);
        border: 0.1rem solid var(--primary-color);
        color: var(--primary-color);
      }

      &:only-child {
        margin-right: 0;
      }
    }

    .btn.btn-primary {
      flex: 1;
      background-color: var(--primary-color);
      color: var(--bg-secondary);
      font-weight: 700;

      &:hover,
      &:active {
        background-color: var(--primary-hover-dark);
      }
    }
  }
}

//Market builder
// #marketForm {
//   #tierGroup {
//     select {
//       background-image: linear-gradient(
//           45deg,
//           transparent 50%,
//           var(--primary-color) 60%
//         ),
//         linear-gradient(135deg, var(--primary-color) 40%, transparent 50%) !important;
//       background-position: calc(100% - 29px) 16px, calc(100% - 22px) 16px,
//         100% 0;
//       background-size: 6px 6px, 6px 6px;
//       background-repeat: no-repeat;
//       -webkit-appearance: none;
//       -moz-appearance: none;
//     }
//   }
// }

#nftSellWallet {
  .approveNft {
    display: block;
  }
}

//Error modal
.modalErrorDiv {
  display: flex;
  align-items: center;

  .imageContainer {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 2.4rem;

    justify-content: center;
    align-items: center;
    img {
      width: max-content;
      height: max-content;
    }
  }

  h3 {
    margin-bottom: 0;
    color: var(--heading-color);
    font-weight: 500;
  }

  h4 {
    color: var(--heading-color);
    font-weight: bold;
  }

  p {
    color: var(--text-primary);
    margin: 0;
  }
}

.modalDivider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.24);

  margin: 1rem 0;
}


.modalFarmInfo{
  display: flex;
  align-items: center;

  margin: 0.7rem 0.4rem;

  img{
    width: 4rem;
  }

  h3{
    margin: 0;
    margin-left: 1rem;

    font-weight: 500;
    color: var(--primary-color);
  }
}

#farmShopEditModal{
  .modal-body{

    .form-check{
      margin: 1.5rem 0;

      input{
        margin-top: 0.35rem;
      }
  
      label{
        width: initial;
  
        span{
          display: initial;
          position: initial; 
  
          &.radioBtnLabel{
            color: var(--primary-color);
            font-weight: 500;
          }
        }
      }
    }
  }
}